server:
  port: 8080
  servlet:
    context-path: /messageBoard
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/messageboard?characterEncoding=utf8&useSSL=false
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
      show-sql: true
  thymeleaf:
    prefix: classpath:/static/
    suffix: .html
    cache: false
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8
  mvc:
    favicon:
      enable=false: